<!doctype html>
<html ng-app="departmentModules">
<head>
<meta charset="UTF-8">
<title>History Student</title>
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="../js/angular.min.js"></script>
<script src="../addDepartment.js"></script>
</head>

<body>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">History Department</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">History Student</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="checktimestudent.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">alarm_on</i>Check Time</a>
      <a class="mdl-navigation__link" href="menuhistorystudent.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">history</i>History</a>
      <a class="mdl-navigation__link" href="#.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">playlist_add_check</i>บันทึกการฝึกงาน</a>
      <a class="mdl-navigation__link" href="menuchatstudent.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">contacts</i>ห้องสนทนา</a>
      <a class="mdl-navigation__link" href="../index.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">input</i>Sign out</a>
    </nav>
  </div>





<main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">

        

          
            <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
              <div class="mdl-card__title mdl-card--expand ">
                <h1 class="mdl-card__title-text">History Department...<i class="material-icons">person_pin</i></h1>
              </div>
              <form ng-controller="departmentController" name="depForm" action="../api/addDepartment.php">
              <div class="mdl-card__actions mdl-card--border">

                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text">

                      <h4>อาจารย์ผู้รับผิดชอบและประสานงาน...</h4>

                            
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
                              <input class="mdl-textfield__input" type="text" id="techfname" ng-model="techfname">
                              <label class="mdl-textfield__label" for="sample3">ชื่อ...</label>
                              <span class="mdl-textfield__error">Input is not a text!</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
                              <input class="mdl-textfield__input" type="text" id="techlname" ng-model="techlname">
                              <label class="mdl-textfield__label" for="sample3">นามสกุล...</label>
                              <span class="mdl-textfield__error">Input is not a text!</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
                              <input class="mdl-textfield__input" type="text" id="techPhone" ng-model="techPhone">
                              <label class="mdl-textfield__label" for="sample3">เบอร์โทรศัพท์...</label>
                              <span class="mdl-textfield__error">Input is not a text!</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
                              <input class="mdl-textfield__input" type="text" id="techemail" ng-model="techemail">
                              <label class="mdl-textfield__label" for="sample3">E-mail...</label>
                              <span class="mdl-textfield__error">Input is not a text!</span>
                            </div>
                      
                    </div>

              </div>

              <div class="mdl-card__actions mdl-card--border">

                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text">

                      <h4>ระยะเวลาการฝึกงาน...</h4>

                            
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
                              <input class="mdl-textfield__input" type="text" id="dateStart" ng-model="dateStart">
                              <label class="mdl-textfield__label" for="sample3">เริ่มต้น...</label>
                              <span class="mdl-textfield__error">Input is not a text!</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
                              <input class="mdl-textfield__input" type="text" id="dateEnd" ng-model="dateEnd">
                              <label class="mdl-textfield__label" for="sample3">สิ้นสุด...</label>
                              <span class="mdl-textfield__error">Input is not a text!</span>
                            </div>
                      
                    </div>
                
              </div>
            </form>


                <div class="mdl-card__actions mdl-card--border">
                  <a style="font-size:28px;" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="AddDepartment()">Submit</a>
                  <a href="menuhistorystudent.html" style="font-size:28px;" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Back</a>
                </div>

              <div class="demo-separator mdl-cell--1-col"></div>
            </div>

        </div>
      </main>
</div>

</body>
</html>